<footer style="margin-bottom: 98px;">
    <div class="container">
        <div class="row">
            <div class="col-md-3" style="margin-top: 100px;">
                <div class="logo">
                    <img class="desktop" src="../../assets/logo-dnb-white.svg">
                </div>
            </div>
            <div class="col-md-6" style="margin-top: 100px;">
                <table class="table">
                    <tr>
                        <td>Discover</td>
                        <td>Connect</td>
                        <td>Other D&B Sites</td>
                    </tr>
                    <tr>
                        <td><a href="https://www.dnb.com/content-hub.html">Content Hub</a></td>
                        <td><a href="https://www.dnb.com/duns-number/view-update-company-credit-file.html">Update Company Information</a></td>
                        <td><a href="https://developer.dnb.com/">Developer</a></td>
                    </tr>
                    <tr>
                        <td><a href="https://www.dnb.com/perspectives.html">Perspectives</a></td>
                        <td><a href="https://www.dnb.com/customer-success.html">Customer Service</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><a href="https://www.dnb.com/solutions.html">Solutions</a></td>
                        <td><a href="https://www.dnb.com/contact-us.html">Contact Us</a></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-3" style="margin-top: 100px; align-items: center;">
                <div class="social_links basecomp RootBaseComponent">
                    <div class="socialLinksWrapper">
                        <ul class="inline-list">
                            <li>
                                <a aria-label="Follow us on facebook. External Website. Opens New Window."
                                    class="facebook ext-icon" href="https://www.facebook.com/DunBradstreet"
                                    target="_blank"><i class="fab fa-facebook-square"></i></a>
                            </li>
                            <li>
                                <a aria-label="Follow us on linkedin. External Website. Opens New Window."
                                    class="linkedin ext-icon"
                                    href="http://www.linkedin.com/company/dun-&amp;-bradstreet" target="_blank">
                                    <i class="fab fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a aria-label="Follow us on twitter. External Website. Opens New Window."
                                    class="twitter ext-icon" href="https://twitter.com/DunBradstreet"
                                    target="_blank"><i class="fab fa-x-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr aria-hidden="true">
                <p style="font-size: small;">© Dun & Bradstreet, Inc. 2000 - 2024. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>