footer {
    font-family: Avenir LT W05_35 Light, sans-serif;
    background-color: #2f3335;
    color: #f4f6f6;
}
footer .logo img.desktop {
    max-width: 186px;
}
.container {
    max-width: 100%;
}